[submodule "dotnet"]
	path = dotnet
	url = https://github.com/nimatt/Battlesnake
[submodule "server"]
	path = server
	url = https://github.com/StemboltHQ/battle_snake
[submodule "sendwithus"]
	path = sendwithus
	url = https://github.com/sendwithus/battlesnake
