[submodule "dotnet"]
	path = dotnet
	url = https://github.com/nimatt/Battlesnake
[submodule "server"]
	path = server
	url = https://github.com/StemboltHQ/battle_snake
[submodule "sendwithus"]
	path = sendwithus
	url = https://github.com/sendwithus/battlesnake
[submodule "cpp"]
	path = cpp
	url = https://github.com/asterkrans/BattleSnake-cpp-client
[submodule "python"]
	path = python
	url = https://github.com/noahspriggs/battlesnake-python
[submodule "java"]
	path = java
	url = https://github.com/appsupport-at-acorn/BasicBattleSnake
